*.d
*.o

*
!frams
frams/*
!frams/_demos
!frams/genetics
frams/_demos/*
frams/genetics/*
#
!frams/_demos/fs_test.cpp
!frams/Makefile-SDK
!frams/Makefile-SDK-files
!frams/genetics/fs
!frams/genetics/fS
