.idea/*
*.o
*.d

f0_variants_test
fs_test
full_props
geno_test
genoconv_test
genomanipulation
genooper_test
genooper_test_fTest
geometry_apices_test
geometry_info_test
geometry_surface_test
geometry_volume_test
loader_test_geno
loader_test_param
multiline_f0_test
mutableparam_test
neuro_layout_test
neuro_test
notes
paramtree_paramlist_test
paramtree_stdin_test
part_shapes
saver_test_geno
serial_test
shapeconvert
simil_test
simil_unittests