*.d
*.o

*
!frams
!tests
frams/*
tests/*
!frams/_demos
!frams/genetics
frams/_demos/*
frams/genetics/*
#
!frams/_demos/fS_test.cpp
!frams/_demos/fS_evolve_test.cpp
!frams/Makefile-SDK
!frams/Makefile-SDK-files
!frams/genetics/fs
!frams/genetics/fS
!tests/fS_tests.txt
!tests/go.sh